:root {
    --gutter: 16px;

    --footer-height: 2rem;

    --primary-color: #14b8a6; /*Teal500*/
    
    --secondary-color: #f97316; /*Orange500*/
    
    --neutral-color: #0a0a0a;  /*Neutral950*/
    --neutral-color-700: #404040;
    --neutral-color-600: #525252;
    --neutral-color-500: #737373;
    --neutral-color-400: #a8a29e;
    --neutral-color-300: #d6d3d1;
    --neutral-color-200: #e5e5e5;
    --neutral-color-100: #f5f5f5;
    --neutral-color-50: #fafafa; 

    --alert-color: #d0021b;

    --text-color: var(--neutral-color-700);
    --text-color-header: var(--neutral-color);
    --text-color-white: var(--neutral-color-50);
    --background-color: var(--neutral-color-200);
    --surface-color: var(--neutral-color-50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3 {
    color: var(--text-color-header);
}

#content {
    padding: 3rem;
}

.play-area {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: var(--gutter);
}

.message {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    gap: var(--gutter);
}

.end-turn, 
.play-again {
    flex: 1;
    display: block;
    font-size: 1rem;
}

.enemy-wrapper,
.player-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
}

.board {
    width: 450px;
    aspect-ratio: 1;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    position: relative;
}

.player-wrapper .board {
    width: 300px;
}


.enemy-wrapper {
    justify-self: end;
}


.player-wrapper {
    justify-self: start;
}


.cell {
    background-color: skyblue;
    position: relative;
    border: 1px solid white;
}

.enemy-wrapper .cell {
    background-color: #0e63ae;
}

.cell:enabled:hover,
.cell.focus
{
    filter: brightness(1.4);
}

.cell.ship::after {
  content: "";
  position: absolute;
  background-color: #a0a0a0;
}

.cell.ship.sunk::after {
    background-color: black;
}

.cell.ship.horizontal:after {
  left: -2px;
  right: -2px;
  top: 10%;
  bottom: 10%;
}

.cell.ship.horizontal.fore:after{
  left: 0;
  border-radius: 100% 0% 0% 100% / 50% 50% 50% 50%; 
}

.cell.ship.horizontal.aft:after {
    right: 0;
    border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%; 
}

.cell.ship.horizontal.all:after {
    left: 0;
    right: 0;
    border-radius: 20% 20% 20% 20%/ 50% 50% 50% 50%;
}

.cell.ship.vertical:after{
  left: 10%;
  right: 10%;
  top: -2px;
  bottom: -2px;
}

.cell.ship.vertical.fore:after{
    top: 0;
  border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%; 
}

.cell.ship.vertical.aft:after{
    bottom: 0;
    border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%; 
}

.cell.ship.vertical.all:after{
    top: 0;
    bottom: 0;
  border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
}

.cell.hit img {
    position: absolute;
    content: url("./images/explode.svg");
    z-index: calc(infinity);
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}

.cell.miss img {
    position: absolute;
    content: url("./images/miss.svg");
    top: 35%;
    bottom: 35%;
    left: 35%;
    right: 35%;
}

.thinking {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    --diff-x: -23px;
    --diff-y: -23px;
}


@keyframes shrink {
    from {
        transform: scale(1);
        transform: translate(0, 0);
    }
    to {
        transform: translate(var(--diff-x), var(--diff-y)) scale(0);
    }
}

.thinking.bye {
  animation-name: shrink;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

dialog.modal[open] {
    inset: 0;
    margin: auto;
    width: min(600px, 90vw);
    padding: calc(var(--gutter) * 3);
    border: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
    justify-items: center;
}

dialog.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog.modal img {
    grid-column: 1/-1;
    display: block;
    width: 38%;
}

dialog.modal h1 {
    grid-column: 1/-1;
}

dialog.modal button {
    display: block;
    width: 80%;
    font-size: 1.2rem;
    padding: var(--gutter);
}